

@font-face{
    font-family: 'basis-reg';
    src: url('../_assets/basis-grotesque-regular.woff2');
    src: url('../_assets/basis-grotesque-regular.woff');
}

@font-face{
    font-family: 'basis-light';
    src: url('../_assets/basis-grotesque-light.woff2');
    src: url('../_assets/basis-grotesque-light.woff');
}

@font-face{
    font-family: 'basis-off';
    src: url('../_assets/basis-grotesque-off-white.woff2');
    src: url('../_assets/basis-grotesque-off-white.woff');
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- Box sizing --- */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

/* --- Global --- */

:root{
    --white: #fff;
    --black: #111;
    --grey: #fafafa;
    --basis:  'basis-reg';
    --basis-l: 'basis-light';
    --basis-o: 'basis-off';
}

body{
    font-family: var(--basis);
    background-color: var(--black);
}

/* --- Typography --- */

h1{
    font-family: var(--basis);
    font-size: 6vw;
    color: var(--black);
}

p{
    font-family: var(--basis);
    font-size: 22px;
    line-height: 1;
    /* color: var(--black); */
    transition: color 0.2s ease;
}

.font-light{
    font-family: var(--basis-l);
}

.font-regular{
    font-family: var(--basis);
}

/* --- Navigation --- */

nav{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    padding: 80px;

}

.nav-wrapper{
    height:28px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 28px;
    height: 28px;
    /* background-color: var(--white); */
}

.logo svg {
    /* fill: var(--white); */
    transition: fill 0.2s ease;
}

.contact-link{
    width: auto;
    height: 28px;
}

.contact-link-wrapper{
    position: relative;
    height: 28px;
    overflow: hidden;
    text-align: right;
}

.contact-link-animation {
    top: 0;
    right: 0;
    height: 56px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.contact-email{
    display: flex;
    align-items: center;
}

.animation-active{
    transform: translate3d(0, -28px, 0);
}

.contact-link-animation p{
    height: 28px;
}


#email-input{
    opacity: 0;
    position: absolute;
    top: -1000px;
    left: -1000px;
}

/* --- Main section --- */

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main h1{
    text-align: left;
}

img {
    width: 100vw;
    height: 100vh;
}

.cover{
    object-fit: cover;
}

.project-title{
    position: fixed;
    font-family: var(--basis);
    z-index: 100;
    bottom: 0;
    left: 0;
    height: 28px;
    width: auto;
    padding: 80px;
    display: flex;
    align-items: center;
    color: var(--white);
}

.project-title .font-light, .project-title .font-regular {
    margin-left: 8px;
} 

.headerWrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 30;
}



/* --- Swiper --- */

.swiper-container {
    width: 100%;
    height: 100vh;
    background-color: var(--white);
}

.swiper-slide{
    /* display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--white); */
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.swiper-slide:nth-child(even){
    background-color:var(--grey);
}

/* --- Overrides --- */



/* --- Mobile Styles --- */

@media only screen and (max-width: 800px) {

    /* --- Typography --- */

    p{
        font-size: 18px;
    }

    /* --- Navigation --- */

    nav{
        padding: 24px;
    }

    .logo{
        width: 20px;
        height: 20px;
        /* background-color: var(--white); */
    }

    /* --- Main section --- */

    .project-title{
        padding: 24px;
    }


}